<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <base href="https://sport.iamprofessional.dev/" target="_blank">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Base</title>
        <link rel="icon" href="/static/logo.png">
        <meta name="theme-color" content="#7952b3">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>Progress</h1>
        <script src="/static/chartBuilder.js"></script>
        <div id="pullupsChartContainer" style="height: 300px; width: 100%;"></div>
        <div id="legsraisesChartContainer" style="height: 300px; width: 100%;"></div>
        <div id="tabataChartContainer" style="height: 300px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
</html>
